body {
  font-family: "Instrument Sans", "Arial", "Helvetica", sans-serif;
}

html {
  background-color: var(--colors-bw-255);
  /* scroll-padding-top: var(--size-spacing-92); */
  scroll-behavior: smooth;
}